Repository cloudalchemy/ansible-alertmanager, pull requests merged in 2020-07, with the labels that each got.

#133 Add VictorOps configuration options
  README.md
  defaults/main.yml
  templates/alertmanager.yml.j2
Labels: area/docs, area/jinja, area/vars

#134 Fix: fail on alertmanager_child_routes
  tasks/preflight.yml
Labels: area/tasks

#135 Add amtool configuration on alertmanager host
  README.md
  defaults/main.yml
  tasks/configure.yml
  tasks/install.yml
  templates/amtool.yml.j2
  vars/main.yml
Labels: area/docs, area/jinja, area/tasks, area/vars
